/* цвета */
.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

/* начертание */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* размеры текста */
.xxsmall {
    font-size: xx-small;
}

.xsmall {
    font-size: x-small;
}

.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.xlarge {
    font-size: x-large;
}

.xxlarge {
    font-size: xx-large;
}
